.red-light {
    background-color: #ff9980;
    border: crimson;
    border-radius: 10px;
    border-color: red;
}

.green-light {
    background-color: lightgreen;
    border-radius: 10px;
    border-color: green;
}

.mydark {
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    border-color: black;
}

.post {
    padding: 3% 5% 3% 5%;
}